# ============================
# Node Modules
# ============================
node_modules/

# ============================
# Environment Variables (Secrets)
# ============================
.env

# ============================
# Upload Folder (Temporary Files)
# ============================
uploads/

# ============================
# Logs
# ============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ============================
# OS Files
# ============================
.DS_Store
Thumbs.db

# ============================
# Editor Settings
# ============================
.vscode/
.idea/
gcs-key.json